html, body {
    min-height: 300%;
    background-color:  black;
    font-family: 'Roboto', sans-serif;
}
header {
background-color:  black;
 

}

nav{display:  flex;
       align-items: center;
  justify-content: space-between;
}

.menu{
        display: flex;  
  align-items: center;
  justify-content: space-between;
  margin:  0px 40px;
 
}
.menu > li > a {text-decoration:  none;
color:  gray;
}
.menu > li > a:hover {color: #fff;

}
.menu > li{
      margin: 10px;
      

}

.img{display:flex;
    margin: 10px;
    
   
}
.perfil{display:flex;
    margin: 15px;
    
   
}

   
    

body {
    padding: 0;
    margin: 0;
}
        
footer {display: flex;
      justify-content:  space-between;
    
    position: absolute;
    bottom: 0;
    background-color: #101010;
    color: #fff;
    width: 100%;
    height: 50px;    
    text-align: center;
    line-height: 50px;
}

#video {position: absolute;
    
  width: 400px;
    height: 400px;

  margin:auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.botao{ display:flex;
    margin:  0px 20px;
    cursor:  pointer;
}

button {margin:  0 20px;
    font-size: 25px;
    color: #FFFFFF;
   background-color: #101010;
   cursor: pointer;
     border: none;  
    

   
     }

 input {
    width: 300px;
    height: 25px;
    border-color: #2c2c2c;
    border: none;
    border-radius: 5px;
    font-size: 15px;
     text-align:center;
    }
  //*
    cor azul gradiente para background
  background: linear-gradient(180deg, rgb(3, 95, 141) 0%, rgb(34, 64, 153) 50%);*/
